acvl-utils==0.2.5
argparse==1.4.0
batchgenerators==0.25.1
batchgeneratorsv2==0.2.3
blosc2==3.3.2
cc3d==3.23.0
cmake
connected-components-3d==3.23.0
cpuinfo==9.0.0
dicom2nifti==2.6.1
dynamic-network-architectures==0.3.1
einops==0.8.1
fft-conv-pytorch==1.2.0
graphviz==0.20.3
imagecodecs==2025.3.30
matplotlib==3.10.3
medpy==0.5.2
msgpack==1.1.0
ndindex==1.9.2
nnunet==1.7.1
nnunetv2==2.6.0
numexpr==2.10.2
numpy
opencv-python==4.11.0.86
pandas==2.2.3
platformdirs==4.3.8
py-cpuinfo==9.0.0
PyYAML==6.0.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
tifffile==2025.3.30
torch==2.7.0+cu118
torchaudio==2.7.0+cu118
torchvision==0.22.0+cu118
tqdm==4.67.1
unittest2==1.1.0
yacs==0.1.8
